*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Palanquin', sans-serif;
    scrollbar-width: thin;
}
body {
    cursor: url(../img/cursor.png), default;
}
.wrapper {
    height: 100vh;
    /* overflow: hidden; */
    /* animation: load-screen 5s forwards linear; */
}
/* scroll-button */
.arrow_up{
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 9;
    animation: load-screen 5s forwards linear;
  }
  .arrow_up a {
    height: 30px;
    width: 30px;
    text-align: center;
    background: #151414bd;
    display: block;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1em;
  }
  .arrow-up-link {
    text-decoration: none;
    color: #fff;
  }
  .arrow_down {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1000;
  }
  .arrow-down-link {
    height: 30px;
    width: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    text-align: center;
    background: #151414bd;
    color: #fff;
    display: block;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1em;
  }
/* ------------ */

::selection {
    color: #e05353;
    background-color: #808080bb;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background-color: #f8f2ef;
}
body::-webkit-scrollbar-thumb{
    background-color: #312b2c6e;
    border-radius: 20px;
    border: 3px solid #f8f2ef;
}
.first-section {
    width: 100%;
    height: 100vh;
}
.second-section {
    width: 100%;
    height: 100vh;
}
/*  */
.fourth-section{
    width: 100%;
    height: 100vh;
}
.slider {
    /* display: none; */
}
.subscribe-section {
    width: 100%;
    height: 100vh;
}
.last-section{
    width: 100%;
    height: 100vh;
}
.text-style-description{
    width: 100%;
    line-height: 120%;
    font-size: 0.7em;
}
.discription-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #d60f0f;
    border: 1px solid #810c0ccb;
    border-radius: 4px;
    text-align: center;
    transition: 0.25s;
}
.contact-us-button{
    width: 50%;
}
.learn-more-button{
    align-self: flex-end;
    width: 50%;
    height: 70%;
    grid-column: 2;
    grid-row: 6/8;
}
.subscribe-button {
    width: 25%;
    height: 100%;
}
.send-message-button {
    width: 100%;
    height: 70%;
}
.vkladki {
    grid-area: vk;
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.link_vkladki,.header_button {
    text-decoration: none;
}
.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 11.2px;
    height: 11.2px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(153,153,153,0.2), 22.7px 16.5px 0 0 rgba(153,153,153,0.4), 8.68px 26.6px 0 0 rgba(153,153,153,0.6), -8.68px 26.6px 0 0 rgba(153,153,153,0.8), -22.7px 16.5px 0 0 #999999;
    animation: spinner 5s forwards linear;
 }
 @keyframes spinner {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: rotate(360deg);
    }
    100% {
        opacity: 0;
    }
 }
