@media screen and (max-width:500px)  {
/* grid-meat-our-team */
.flex-box-4 {
    width: 100%;
    height: 100%;
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
	grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 1fr 0.1fr;
	grid-gap: 0.5em 0.5em;
}
.h2-position {
    grid-area: 2 / 2 / 3 / 3;
}
.lorem-position {
    grid-area: 3 / 2 / 4 / 5;
}
.line-position {
    grid-area: 4 / 2 / 4 / 3;
}
.name-position {
    grid-area: 4 / 2 / 5 / 3;
}
.name-discription-position {
    justify-self: start;
    width: 100%;
    grid-area: 4 / 3 / 5 / 5;
}
.socLinks-position {
    grid-area: 6 / 2 / 7 / 5;
    justify-self: center;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 80%;
    grid-area: 5 / 2 / 8 / 5;
}
.slider {
    width: 100%;
    height: 100%;
}
/* ----------------- */


.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	/* -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5); */
}

.slides {
	height: 90%;
	opacity: 0;
	position: absolute;
    top: 5%;
	width: 100%;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.controls {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 10%;
}
.slide1 { 
    background-image: url(../img/team/3.jpg);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.slide2 { 
    background-image: url(../img/team/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.slide3 { 
    background-image: url(../img/team/5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.slide4 { 
    background-image: url(../img/team/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.slide5 { 
    background-image: url(../img/team/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper1 > input {
	display: none;
}

.wrapper1 .controls {
}

.wrapper1 label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper1 label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: var(--main-color-span2);
}

.wrapper1 label:after {
	border: 2px solid var(--main-color-span1);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
}