*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url(../img/agency\ —\ копия.jpg);
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Palanquin', sans-serif;
}
.container{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #f8f2efb2;
    display:grid;
    align-items:start;
}
.content_container{
    display: grid;
    grid-template-columns: minmax(50px,1fr) 16% 16% 16% 16% 16% minmax(50px,1fr); 
    grid-template-rows: 70px 30% 20% auto 15%;
    row-gap: 0%;
}
.header_container{
    background-color: #312b2c;
    border: 1px solid;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    grid-column: 2 / 6;
    margin: auto;
}
.header_button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 5fr;
    height: 100%;
}
.button_txt{
    font-family: 'Palanquin', sans-serif;
    font-size: 0.8em;
    color: white;
    margin: 10px;
}
.h1_text{
    font-size: 350%;
    line-height: 100%;
    font-weight: bolder;
    grid-column: 2 / 4;
    grid-row: 2;
    font-weight: bolder;
    transform: translateY(70px);
}
video {
    align-self: end;
    justify-self: end;
    width: 120%;
    height: 100%;
    display: grid;
    box-shadow: 0px -10px 30px #312b2c66;
    grid-row-start:2;
    grid-row-end:5;
    grid-column-start:5;
    grid-column-end:7;
    transform: translateY(70px);
}
.lorem_first-page{
    grid-column: 2/4;
    grid-row: 3/5;
    color: #86807d;
    font-size: 0.68em;
    transform: translateY(100px);
}
button{
    width: 80%;
    height: 90%;
    grid-column: 2;
    grid-row: 5;
    background-color: #ff2b2b;
    border: 1px solid #b62121;
    transform: translateY(70px);
}